:root {
  --dark-navy-blue: #091a2a;
  --light-blue: #38bdf8;
}

body {
  margin: 0px;
  padding: 0px;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  text-decoration-skip: auto;
  display: inline-block;
}
