.root {
  background-color: var(--dark-navy-blue);
  color: var(--light-blue);
  width: 100%;
  height: 100%;
  padding: 0px 50px 0px 50px;
  box-sizing: border-box;
}

.main {
  padding: 25px;
}

// https://www.w3schools.com/accessibility/accessibility_skip_links.php
.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.skip:focus {
  position: static;
  width: auto;
  height: auto;
}
