.container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.role-info {
  color: var(--light-blue);
  padding-left: 10px;
  font-size: 16px;
}

.role-interval {
  color: var(--light-blue);
  font-size: 12px;
  font-weight: bold;
  align-items: center;
}

.company {
  color: var(--light-text);
  font-size: 32px;
  padding: 20px 0px 0px 10px;
  margin: 0px;
}

.location {
  color: var(--dark-text);
  padding-left: 10px;
  font-size: 14px;
}

.desc-container {
  margin-top: 10px;
}

.desc {
  border-radius: 10px;
  background-color: var(--titanium-blue);
  padding: 20px;
  color: var(--light-text);
  font-size: 16px;
  letter-spacing: 0.5px;
  margin: 0px;
}

.tag-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 16px;
}

.tag {
  padding: 10px;
  color: var(--light-blue);
  font-size: 14px;
  letter-spacing: 0.5px;
  background-color: var(--titanium-blue);
  border-radius: 10px;
}

.tag:hover {
  color: var(--lighter-blue);
}

.details {
  width: 50%;
  height: max-content;
}

.logo-container {
  width: 300px;
  margin: 0px 0px 0px 20px;
  padding: 30px 0px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.logo {
  width: 80%;
  height: auto;
}
