.header {
  height: 100px;
  padding: 25px 50px 25px 50px;
  box-sizing: border-box;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--darker-navy-blue);
  z-index: 1000;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-right-container {
  text-decoration-line: none;
  text-decoration-skip-ink: auto;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
}

.nav-links-container {
  list-style: none;
  padding: 0px;
  margin: 0px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.nav-link {
  margin: 0px 5px 0px 5px;
  border-radius: 5px;
}

.nav-anchor {
  color: var(--light-text);
  display: block;
  padding: 15px;
  font-size: 14px;
  letter-spacing: 1px;
}

.active {
  color: var(--light-blue) !important;
}
