.footer {
  background-color: var(--darker-navy-blue);
  border-top: 1px solid var(--section-alt-blue);
  color: var(--dark-text);
  text-align: center;
  padding: 20px 40px;
  letter-spacing: 0.5px;
}

.text {
  margin: 0;
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 16px 24px;
  }
}
